In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

columnas1 = ["Apellido", "Nombre", "Aficion principal", "Genero"]
apellidos1 = ["Molina", "Muñoz", "Rubio", "Castillo", "Garrido", "Medina", "Navarro", "Morales", "Castro", "Reyes", "Prado",
             "Chavez", "Vega", "Moreno", "Escobar", "Alvarado", "Zegarra", "Costa", "Borja", "Romero", "Gomez", "Ruiz", 
             "Mejia", "Serrano", "Jimenez", "Vazquez", "Fernandez", "Ramos", "Rodriguez", "Delgado"]
nombres1 = ["Antonio", "Liliana", "Ana", "Daniel", "Luis", "Laura", "Julio", "Jorge", "Tania", "Cintia", "Ana", "Jose", 
           "Carlos", "Julia", "Pedro", "Ester", "Alberto", "Tatiana", "Pablo", "Marta", "Jorge", "Rosa", "Jesica", 
           "Ursula", "Luis", "Jose", "Miguel", "Raul", "Susana", "Vanesa"]
aficion_principal = ["Basquet", "Futbol", "Informatica", "Ajedrez", "Voley", "Futbol", "Ajedrez", "Karaoke", "Judo",
                     "Musica", "Reposteria", "Futbol", "Informatica", "Basquet", "Karaoke", "Musica", "Judo", "Teatro",
                     "Futbol", "Karaoke", "Lectura", "Futbol", "Voley", "Judo", "Ajedrez", "Voley", "Ajedrez", "Ajedrez",
                     "Karaoke", "Basquet"]

genero1 = ["M", "F", "F", "M", "M", "F", "M", "M", "F", "F", "F", "M", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", 
        "F", "F", "M", "M", "M", "M", "F", "F"]

datos = list(zip(apellidos1, nombres1, aficion_principal, genero1))
df = pd.DataFrame(datos, columns=columnas1)
df

     Apellido   Nombre Aficion principal Genero
0      Molina  Antonio           Basquet      M
1       Muñoz  Liliana            Futbol      F
2       Rubio      Ana       Informatica      F
3    Castillo   Daniel           Ajedrez      M
4     Garrido     Luis             Voley      M
5      Medina    Laura            Futbol      F
6     Navarro    Julio           Ajedrez      M
7     Morales    Jorge           Karaoke      M
8      Castro    Tania              Judo      F
9       Reyes   Cintia            Musica      F
10      Prado      Ana        Reposteria      F
11     Chavez     Jose            Futbol      M
12       Vega   Carlos       Informatica      M
13     Moreno    Julia           Basquet      F
14    Escobar    Pedro           Karaoke      M
15   Alvarado    Ester            Musica      F
16    Zegarra  Alberto              Judo      M
17      Costa  Tatiana            Teatro      F
18      Borja    Pablo            Futbol      M
19     Romero    Marta           Karaoke      F
20      Gomez    Jorge           Lectura      M
21       Ruiz     Rosa            Futbol      F
22      Mejia   Jesica             Voley      F
23    Serrano   Ursula              Judo      F
24    Jimenez     Luis           Ajedrez      M
25    Vazquez     Jose             Voley      M
26  Fernandez   Miguel           Ajedrez      M
27      Ramos     Raul           Ajedrez      M
28  Rodriguez   Susana           Karaoke      F
29    Delgado   Vanesa           Basquet      F

In [2]:
df['Aficion principal'].value_counts()

Futbol         5
Ajedrez        5
Karaoke        4
Basquet        3
Voley          3
Judo           3
Informatica    2
Musica         2
Reposteria     1
Teatro         1
Lectura        1
Name: Aficion principal, dtype: int64